
.content-one img{
    width: 100Px;
    height: 100px;
}
.content-one h3 {
    text-transform: capitalize;
    font-size: 18px;
}
.course-time {
    background-color: pink!important;
    text-align: center;
    font-size: 16px;
    margin-left: 5px;
    padding: 5px;
}
 .course-content .courses
{
    background-color:bisque;
    padding: 40px;
}
/* 
 Medium devices (tablets, 768px and up)  */
@media (min-width: 576px) { 
    .course-footer{
       display: flex;
       flex-direction: row;
    }
 }